-- Add rotation to warehouse_shelves
ALTER TABLE public.warehouse_shelves ADD COLUMN rotation integer DEFAULT 0;
UPDATE public.warehouse_shelves SET grid_col = grid_col * 80, grid_row = grid_row * 80, grid_width = grid_width * 80, grid_height = grid_height * 80;
